# ignore all data files
*.tex
*.txt

# ignore all image files
*.jpg
*.jpeg
*.png
.*svg

# ignore all video files
*.mov
*.mp4

# ignore all zip files
*.zip

# ignore all config files
*.cfg

# ignore chache
*__pycache__*

# ignore venv
*.venv*

# ignore folders
Tex/
480p15/
